<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://s2-g1.glbimg.com/F2xqPQ8g2RpxsmviIaABL5G_es8=/0x0:6400x3600/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2025/U/0/gMDB34RV63iK2jAlr7yQ/nintendo-1.jpg"
      cardTitle="Switch 2 é anunciado pela Nintendo e será lançado ainda em 2025"
      cardDescription="Sucessor do amado console híbrido será compatível com os jogos físicos e digitais do Switch original. Empresa não anunciou data de lançamento ou preço."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      cardTtle="Era de ouro do Brasil no Rainbow Six é reflexo de renovação constante"
      photoCover = "https://sm.ign.com/t/ign_br/screenshot/default/faze-rainbow-six_h8vc.2560.jpg">
    </app-small-card>
    <app-small-card
      cardTtle = "Final Fantasy terá decks Commander de Magic: The Gathering com Cloud, Tidus e mais"
      photoCover = "https://sm.ign.com/t/ign_br/feature/f/final-fant/final-fantasy-commander-decks-revealed-feature-cloud-tidus-a_9f8u.2560.jpg">

    </app-small-card>
    <app-small-card
      cardTtle = "Konami aumenta salário de todos os funcionários, indo na contramão da indústria de games"
      photoCover = "https://sm.ign.com/t/ign_br/news/k/konami-exp/konami-explains-why-theres-a-d-symbol-in-metal-gear-solid-3_kmrr.640.jpg">
    </app-small-card>
  </div>
</div>
